<header>
    <nav class="main-nav">
        <div class="row">
            <div class="col-4">
                <a class="main-nav-brand">
                    <div class="logo">
                        <img src="assets/images/logo.png" alt="logo">
                    </div>
                    <h1 class="ps-2">SaaSup</h1>
                </a>
            </div>
            <div class="col-8">
                <ul class="navbar-nav">
                    <li class="nav-link">
                        <a routerLink="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a routerLink="/">About</a>
                    </li>
                    <li class="nav-link">
                        <a routerLink="/">Features</a>
                    </li>
                    <li class="nav-link">
                        <a routerLink="/">Pages</a>
                    </li>
                    <li class="nav-link">
                        <a routerLink="/">Blog</a>
                    </li>
                    <li class="nav-link">
                        <a routerLink="/">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>