header {
  padding: 59px 200px;
  .main-nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      max-width: 100%;
      height: auto;
      width: 58.36px;
    }
    h1 {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
  .main-nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;

    .navbar-nav {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      border-radius: 39px;

      .nav-link {
        display: flex;
        padding: 0 !important;
        a {
          display: flex;
          padding: 10px 15px;

          &.dropdown {
            position: relative;
            & > .dropdownEl {
              position: absolute;
              z-index: 999;
              width: 100px;
              height: auto;
              visibility: hidden;
              left: 50%;
              top: 0;
              list-style: none;
              border-radius: 5px;
              padding: 10px 0;
              li {
                a {
                  color: var(--clr-white);
                  display: flex;
                  &:hover {
                    background-color: var(--clr-white);
                    color: #000;
                  }
                }
              }
            }
            &:hover {
              .dropdownEl {
                visibility: visible;
                transition: all 0.3s ease;
                top: 100%;
              }
            }
          }
        }
      }
    }
  }
}
