header {
  padding: 59px 250px;
  .main-nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      max-width: 100%;
      height: auto;
      width: 58.36px;
    }
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }
  }
  .navbar-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border-radius: 39px;
    .nav-link{
      display: flex;
      padding: 0 !important;
      a{
        display: flex;
        padding: 10px 15px;
      }
    }
  }
}
