header {
  padding: 59px 250px;
  .main-nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      max-width: 100%;
      height: auto;
      width: 58.36px;
    }
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }
  }
  .navbar-nav{
    
  }
}
