<header>
  <nav class="main-nav">
    <div class="row">
      <div class="col-4 d-flex align-items-center">
        <a class="main-nav-brand">
          <div class="logo">
            <img src="assets/images/logo.png" alt="logo" />
          </div>
          <h1 class="ps-2">SaaSup</h1>
        </a>
      </div>
      <div class="col-8">
        <div class="main-nav-bar">
          <ul class="navbar-nav bgSecond1">
            <li class="nav-link">
              <a routerLink="/" class="">Home</a>
            </li>
            <li class="nav-link">
              <a routerLink="/" class="">About</a>
            </li>
            <li class="nav-link">
              <a routerLink="/" class="">Features</a>
            </li>
            <li class="nav-link">
              <a routerLink="/" class="">Pages</a>
            </li>
            <li class="nav-link">
              <a routerLink="/">Blog</a>
            </li>
            <li class="nav-link" class="">
              <a routerLink="/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
