.header-section {
  ::ng-deep header {
    nav {
      .main-nav-bar {
        .navbar-nav {
          background-color: var(--clr-secondary-200) !important;
          .nav-link {
            a {
              color: var(--clr-dark) !important;
              .dropdownEl {
                background-color: var(--clr-secondary-600) !important;
              }
            }
          }
        }
        .button {
          background-color: var(--clr-primary) !important;
          color: #fff !important;
        }
      }
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__integration {
    .heading {
      width: 511px;
      margin-inline: auto;
      text-align: center;
    }
    .button-integration {
      width: 166px !important;
      padding: 2.5rem 3.7rem !important;
      font-size: 1.8rem !important;
      border-radius: 3.9rem !important;
      margin-bottom: 3.1rem;
    }

    .items {
      margin-inline: 150px;
      margin-top: 4.9rem;
      display: flex;
      gap: 2rem;

      .item {
        padding: 4.9rem 1.9rem;
        border-radius: 4rem;
        transition: background-color 100ms ease-in-out;

        &:hover {
          background-color: var(--clr-secondary-200);
        }

        &__image {
          margin-bottom: 2.95rem !important;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-inline: auto;
        }

        &__content {
          text-align: center;

          a {
            margin-top: 4.5rem;
            display: inline-block !important;
          }
        }

        .all-in-one {
          margin-top: 5.3rem;
        }
      }
    }
  }

  &__newsletter {
    margin-top: 20rem;
  }
}
