<div class="header-section">
  <app-header></app-header>
</div>

<main class="features">
  <section class="features__heading">
    <h1>Features</h1>
    <p class="defaultPar">
      Lorem ipsum dolor sit amet consectetur adipiscing elit interdum
      ullamcorper sed pharetra sene.
    </p>
  </section>

  <section class="features__feature">
    <shared-feature></shared-feature>
  </section>

  <section class="features__integration">
    <div class="heading">
      <button class="button small textPrimary1 mx-auto button-integration">
        Integration
      </button>
      <h2>Connect all your tools and work efficiently.</h2>
    </div>

    <div class="items">
      <div class="item">
        <div class="item__image">
          <svg-icons name="feat4"></svg-icons>
        </div>

        <div class="item__content">
          <h4>20+ integrations</h4>
          <p class="defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>

          <a routerLink="/">Learn More</a>
        </div>
      </div>

      <div class="item">
        <div class="item__image">
          <svg-icons name="feat5"></svg-icons>
        </div>

        <div class="item__content all-in-one">
          <h4>All-in-one platform</h4>
          <p class="defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>
          <a routerLink="/">Learn More</a>
        </div>
      </div>

      <div class="item">
        <div class="item__image">
          <svg-icons name="feat6"></svg-icons>
        </div>
        <div class="item__content">
          <h4>Advanced charts</h4>
          <p class="defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>
          <a routerLink="/">Learn More</a>
        </div>
      </div>
    </div>
  </section>
</main>
