<section class="newsletter">
  <div class="newsletterBody">
    <div class="row">
      <div
        class="col-md-6 d-flex flex-column justify-content-center"
      >
        <div class="text">
          <h3 class="text-white mb-4">
            Start your free trial <br />
            today
          </h3>
          <p class="defaultPar text-white">
            It is a long established fact that a reader will be by the readable
            when looking at it layout.
          </p>
        </div>
        <div class="inputGroup">
          <div class="inputField">
            <div class="row">
              <div class="col-md-6">
                <input
                  type="text"
                  class="inputDefault"
                  placeholder="Your email here..."
                />
              </div>
              <div class="col-md-6 ps-5">
                <button class="button bgWhite">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="newsImg">
          <img
            src="assets/images/newsletter-img.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
