<header class="header-section">
    <app-header></app-header>
  </header>
  
  <main class="contact">
    <section class="contact__header">
      <h2 class="text-center">Get in touch today!</h2>
      <div class="row gap-5">
        <div
          class="box col-md-5 d-flex justify-content-between align-items-center"
        >
          <div class="d-flex gap-3 align-items-center justify-content-center">
            <svg-icons name="envelope"></svg-icons>
            <p>Mail Us</p>
          </div>
          <p class="defaultPar">saasup@gmail.co</p>
        </div>
        <div
          class="box col-md-5 d-flex justify-content-between align-items-center"
        >
          <div class="d-flex gap-3 align-items-center justify-content-center">
            <svg-icons name="phone-call"></svg-icons>
            <p>Call Us</p>
          </div>
          <p class="defaultPar">+001 6547 6589</p>
        </div>
      </div>
    </section>
  </main>
  