<div class="header-section">
  <app-header></app-header>
</div>
<section class="about">
  <div class="about__header">
    <h2>About our company</h2>
    <p class="defaultPar">
      Lorem ipsum dolor sit amet consectetur adipiscing elit interdum
      ullamcorper sed pharetra sene.
    </p>
  </div>

  <div class="about__image row">
    <img
      src="../../../assets/images/Image.png"
      alt=""
      class="img-fluid col-md-7"
    />
    <img
      src="../../../assets/images/about image 2.png"
      alt=""
      class="img-fluid col-md-4"
    />
  </div>

  <div class="about__services row">
    <h3 class="col-md-4">What we do</h3>
    <div class="col-md-8">
      <p class="defaultPar">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using.
      </p>

      <p class="defaultPar">
        Content here', making it look like readable English. Many desktop
        publishing packages and web page editors now use Lorem Ipsum as their
        default model text, and a search for 'lorem ipsum' will uncover many web
        sites still in their infancy.
      </p>
    </div>
  </div>

  <div class="about__reports row">
    <div class="col-md-3">
      <h2>100<span>M</span></h2>
      <p class="defaultPar">Client Satisfaction</p>
    </div>
    <div class="col-md-3">
      <h2>24 <span>h</span></h2>
      <p class="defaultPar">Expert Support Team</p>
    </div>
    <div class="col-md-3">
      <h2>98 <span>k+</span></h2>
      <p class="defaultPar">Sales Count</p>
    </div>
    <div class="col-md-3">
      <h2>208 <span>+</span></h2>
      <p class="defaultPar">Client Worldwide</p>
    </div>
  </div>

  <div class="mission row">
    <div class="mission__content col-md-6">
      <h3>Our Mission</h3>
      <p class="defaultPar">
        Lorem ipsum dolor sit amet, consectetur adipiscing Pharetra Ld eu
        aliquet diam lorem viverra at justo. Nulla odio nequefjf gravida in
        pharetra egestas. Ac id sagittis at morbi interdum nibh diam sagittis
        et.
      </p>
      <p class="defaultPar">
        Lorem ipsum dolor sit amet, consectetur adipiscing Pharetra id eu
        aliquet diam lorem viverra at justo. Nulla odio nequesg gravida in
        pharetra egestas.
      </p>
    </div>
    <div class="mission__image col-md-6">
      <img
        src="../../../assets/images/mission image.png"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
</section>
