<div class="header-section">
  <app-header></app-header>
</div>
<section class="about">
  <div class="about__header">
    <h2>About our company</h2>
    <p class="defaultPar">
      Lorem ipsum dolor sit amet consectetur adipiscing elit interdum
      ullamcorper sed pharetra sene.
    </p>
  </div>

  <div class="about__image row">
    <img
      src="../../../assets/images/Image.png"
      alt=""
      class="img-fluid col-md-7"
    />
    <img
      src="../../../assets/images/about image 2.png"
      alt=""
      class="img-fluid col-md-4"
    />
  </div>

  <div class="about__services row">
    <h3 class="col-md-4">What we do</h3>
    <div class="col-md-8">
      <p class="defaultPar">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using.
      </p>

      <p class="defaultPar">
        Content here', making it look like readable English. Many desktop
        publishing packages and web page editors now use Lorem Ipsum as their
        default model text, and a search for 'lorem ipsum' will uncover many web
        sites still in their infancy.
      </p>
    </div>
  </div>

  <div class="about__reports row">
    <div class="col-md-3">
      <h2>100<span>M</span></h2>
      <p class="defaultPar">Client Satisfaction</p>
    </div>
    <div class="col-md-3">
      <h2>24 <span>h</span></h2>
      <p class="defaultPar">Expert Support Team</p>
    </div>
    <div class="col-md-3">
      <h2>98 <span>k+</span></h2>
      <p class="defaultPar">Sales Count</p>
    </div>
    <div class="col-md-3">
      <h2>208 <span>+</span></h2>
      <p class="defaultPar">Client Worldwide</p>
    </div>
  </div>

  <div class="about__mission row">
    <div class="mission-content col-md-5">
      <h3>Our Mission</h3>
      <p class="defaultPar">
        Lorem ipsum dolor sit amet, consectetur adipiscing Pharetra Ld eu
        aliquet diam lorem viverra at justo. Nulla odio nequefjf gravida in
        pharetra egestas. Ac id sagittis at morbi interdum nibh diam sagittis
        et.
      </p>
      <p class="defaultPar">
        Lorem ipsum dolor sit amet, consectetur adipiscing Pharetra id eu
        aliquet diam lorem viverra at justo. Nulla odio nequesg gravida in
        pharetra egestas.
      </p>
    </div>
    <div class="mission-image col-md-6">
      <img
        src="../../../assets/images/mission image.png"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>

  <div class="about__values">
    <div class="header">
      <button class="button">Our values</button>
      <h3>The story and values behind our company</h3>
    </div>
    <div class="card-wrapper">
      <div class="card">
        <div>
          <img src="assets/images/innovation-icon.png" alt="" />
        </div>
        <div>
          <h3>Innovation</h3>
          <p class="defaultPar">
            Long established fact that a readeed to will be distracted by the
            readable content of a page when looking at its layout Long
            established fact that a readeed to will be distracted by the
            readable content of a page when looking at its layout
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="assets/images/team-work.png" alt="" />
        </div>
        <div>
          <h3>Team work</h3>
          <p class="defaultPar">
            Long established fact that a readeed to will be distracted by the
            readable content of a page when looking at its layout Long
            established fact that a readeed to will be distracted by the
            readable content of a page when looking at its layout
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="assets/images/excellence-icon.png" alt="" />
        </div>
        <div>
          <h3>Excellence</h3>
          <p class="defaultPar">
            Long established fact that a readeed to will be distracted by the
            readable content of a page when looking at its layout Long
            established fact that a readeed to will be distracted by the
            readable content of a page when looking at its layout
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="assets/images/responsibility-icon.png" alt="" />
        </div>
        <div>
          <h3>Responsibility</h3>
          <p class="defaultPar">
            Long established fact that a readeed to will be distracted by the
            readable content of a page when looking at its layout Long
            established fact that a readeed to will be distracted by the
            readable content of a page when looking at its layout
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- 



Product Development manager
San Francisco, CA    |    Full Time
It is a long established fact that a reader will be distracted by the readable content of a page from when looking at it layout. The point of using Lorem Ipsum looking at it layout.
Apply Now
Head of finnance
San Francisco, CA    |    Full Time
It is a long established fact that a reader will be distracted by the readable content of a page from when looking at it layout. The point of using Lorem Ipsum looking at it layout.
Apply Now
Can't find the position you are looking for?
Don't worry, get in touch with us anyways, we are always looking for great team members to join us.
Apply Now -->
  <div class="about__career row">
    <div class="heading col-md-6">
      <button class="button">Career</button>
      <h2>Join our Saasup Let’s work together</h2>
    </div>

    <div class="cards col-md-6">
      <div class="card">
        <h3>Web Designer & Developer</h3>
        <b>San Francisco, CA | Full Time</b>
        <p class="deafultPar">
          It is a long established fact that a reader will be distracted by the
          readable content of a page from when looking at it layout. The point
          of using Lorem Ipsum looking at it layout.
        </p>
        <button class="button bgPrimary1">Apply Now</button>
      </div>

      <div class="card">
        <h3>Web Designer & Developer</h3>
        <b>San Francisco, CA | Full Time</b>
        <p class="deafultPar">
          It is a long established fact that a reader will be distracted by the
          readable content of a page from when looking at it layout. The point
          of using Lorem Ipsum looking at it layout.
        </p>
        <button class="button bgPrimary1">Apply Now</button>
      </div>

      <div class="card">
        <h3>Web Designer & Developer</h3>
        <b>San Francisco, CA | Full Time</b>
        <p class="deafultPar">
          It is a long established fact that a reader will be distracted by the
          readable content of a page from when looking at it layout. The point
          of using Lorem Ipsum looking at it layout.
        </p>
        <button class="button bgPrimary1">Apply Now</button>
      </div>

      <!-- <div class="card">
        <h3></h3>
        <b></b>
        <p class="deafultPar">

        </p>
        <div class="button"></div>
      </div>
 -->
    </div>
  </div>
</section>
