.header-section {
  ::ng-deep header {
    nav {
      .main-nav-bar {
        .navbar-nav {
          background-color: var(--clr-secondary-200) !important;
          .nav-link {
            a {
              color: var(--clr-dark) !important;
              .dropdownEl {
                background-color: var(--clr-secondary-600) !important;
              }
            }
          }
        }
        .button {
          background-color: var(--clr-primary) !important;
          color: #fff !important;
        }
      }
    }
  }
}

.about {
  padding: 59px 200px;

  &__header {
    margin: 0 auto;
    width: 400px;
    text-align: center;
  }

  &__image {
    margin-top: 3.9rem;
    gap: 2rem;
  }

  &__services {
    margin-top: 8.1rem;
  }

  &__reports {
    margin-top: 7rem;
    background-color: var(--clr-secondary-200);
    padding: 4.65rem 3.35rem;
    border-radius: 2.5rem;
    margin-bottom: 21rem;

    h2 {
      span {
        color: var(--clr-primary);
      }
    }
  }

  &__mission {
    gap: 2.4rem;
  }
}
