.about {
  padding: 59px 200px;
  &__header {
    width: 450px;
    margin-inline: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &__image {
    display: flex;
    gap: 40px;
    width: 700px;

    img {
      object-fit: cover;
    }
  }

  &__service {
    display: flex;
    gap: 50px;
    margin-top: 59px;
  }

  .title {
    width: 50%;
  }

  &__reports {
    margin-top: 7rem;
    padding: 4.65rem 3.35rem;

    background-color: #f9f9f9;
    border-radius: 2.5rem;
  }

  h2 {
    span {
      color: #5236ff;
    }
  }

  &__mission {
    margin-top: 10.5rem;

    h3 {
      margin-bottom: 1.3rem;
    }
  }
}
