.header-section {
  ::ng-deep header {
    nav {
      .main-nav-bar {
        .navbar-nav {
          background-color: var(--clr-secondary-200) !important;
          .nav-link {
            a {
              color: var(--clr-dark) !important;
              .dropdownEl {
                background-color: var(--clr-secondary-600) !important;
              }
            }
          }
        }
        .button {
          background-color: var(--clr-primary) !important;
          color: #fff !important;
        }
      }
    }
  }
}

.about {
  margin: 59px 200px;
  border-bottom: 1px solid var(--clr-secondary-300);

  &__header {
    margin: 0 auto;
    width: 400px;
    text-align: center;
  }

  &__image {
    margin-top: 3.9rem;
    gap: 2rem;
  }

  &__services {
    margin-top: 8.1rem;
  }

  &__reports {
    margin-top: 7rem;
    background-color: var(--clr-secondary-200);
    padding: 4.65rem 3.35rem;
    border-radius: 2.5rem;

    h2 {
      span {
        color: var(--clr-primary);
      }
    }
  }

  &__mission {
    margin-top: 21rem;
    gap: 2.6rem;

    .mission-content {
      padding: 0.85rem 0;
      h3 {
        margin-bottom: 1.3rem;
      }
    }
  }

  &__values {
    margin-top: 20rem;
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.1rem;

      .button {
        color: var(--clr-primary) !important;
        padding: 2.5rem 3.4rem 2.5rem 3.4rem !important;
        border-radius: 3.9rem;
      }
      h3 {
        text-align: center;
      }
    }
    .card-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      gap: 5.1rem;
      margin-top: 3.1rem;
    }
    .card {
      background-color: var(--clr-secondary-200);
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding: 1.95rem;
      border: 0;
      border-radius: 1.5rem;
    }
  }

  &__career {
    margin: 20rem 0;
    .heading {
      h2 {
        margin-top: 3.9rem;
      }
    }
  }
  .cards {
    display: flex !important;
    flex-direction: column !important;
    gap: 3.9rem !important;
    .card {
      padding: 6.2rem 6.6rem 6.2rem 6.6rem !important;

      border-radius: 3rem !important;
      border: 0.1rem solid var(--clr-secondary-600) !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 600px;

      h3 {
        margin-bottom: 1.3rem;
      }

      .details {
        font-size: 2rem !important;

        span {
          color: var(--clr-primary) !important;
        }
      }
      h4 {
        margin-bottom: 1.9rem;
      }
      button {
        margin-top: 3rem;

        padding: 2.5rem 5.3rem !important;
        background-color: transparent !important;
        color: var(--clr-dark) !important;
        border: 1px solid #d3d3d3;
        transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
        &:hover {
          background-color: var(--clr-dark) !important;
          color: var(--clr-white) !important;
        }

        &.buttonWhite {
          background-color: transparent !important;
          color: var(--clr-white) !important;
          border: 1px solid #d3d3d3;

          align-self: center;
          &:hover {
            background-color: var(--clr-white) !important;
            color: var(--clr-dark) !important;
          }
        }
      }
    }
  }
}
