<section class="features">
  <div class="row">
    <div class="col md-12">
      <button class="button small textPrimary1 featB mx-auto">Features</button>
    </div>
    <div class="col-md-12">
      <h2 class="text-center featText">
        Powerful features to boost <br />
        your productivity
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="featCont p-3">
        <div class="featImg">
          <svg-icons name="feat1"></svg-icons>
        </div>
        <div class="featTitle mt-3">
          <h4 class="text-center">Secured Platform</h4>
        </div>
        <div class="featDesc mt-3">
          <p class="text-center defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>
        </div>
        <div class="featLink mt-5 d-flex justify-content-center">
          <a
            routerLink="/"
            class="learn text-center d-flex text-decoration-underline"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="featCont bgSecond2 rounded p-3">
        <div class="featImg">
          <svg-icons name="feat2"></svg-icons>
        </div>
        <div class="featTitle mt-3">
          <h4 class="text-center">Secured Platform</h4>
        </div>
        <div class="featDesc mt-3">
          <p class="text-center defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>
        </div>
        <div class="featLink mt-5 d-flex justify-content-center">
          <a
            routerLink="/"
            class="learn text-center d-flex text-decoration-underline"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="featCont p-3">
        <div class="featImg">
          <svg-icons name="feat3"></svg-icons>
        </div>
        <div class="featTitle mt-3">
          <h4 class="text-center">Secured Platform</h4>
        </div>
        <div class="featDesc mt-3">
          <p class="text-center defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>
        </div>
        <div class="featLink mt-5 d-flex justify-content-center">
          <a
            routerLink="/"
            class="learn text-center d-flex text-decoration-underline"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
