.features {
  padding: 200px 150px;
  .featB {
    width: 140px;
    padding: 15px 30px !important;
  }
  .featText {
    margin-top: 31px;
  }
  .featCont {
    margin-top: 40px;
    padding: 50px 30px !important;
    border-radius: 40px !important;
  }
}
