.header-section {
  ::ng-deep header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
  }
}
.banner {
  background-image: url("/assets/images/background.png");
  padding: 0 150px;
  background-position-x: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 275px;
  width: 100%;

  z-index: -1;
  .banner-text {
    h2 {
      line-height: 1.1;
      font-size: 55px;
    }
  }
  .rightSideImg {
    position: relative;
    img {
      position: absolute;
      z-index: 999;
      left: 50px;
      top: 20px;
    }
  }
}

.platform-desc {
  padding: 0 150px;

  .leftSide {
    padding: 100px 50px;
    border-radius: 40px;
    position: relative;
    z-index: 999;
    .icon {
      ::ng-deep svg {
        width: 70px;
        height: 70px;
      }
    }
    .descImg {
      position: relative;
      top: 0;
      bottom: 50%;
      img {
        position: absolute;
        left: 100%;
        bottom: 50%;
        transform: translateY(10%);
      }
    }
  }
  .rightSide {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: blue;
    height: 470px;
    width: 30%;
    z-index: 1;
    float: right;
    position: absolute;
    right: 0;
  }
}
.how-it-works {
  padding: 200px 150px;
  .featB {
    width: 160px;
    padding: 15px 30px !important;
  }
  .steps {
    .step1,
    .step2,
    .step3 {
      width: 300px;
      height: 70px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .actionT {
    padding: 20px 60px;
    margin-top: 70px;
    align-items: center;
    .icon {
      ::ng-deep svg {
        width: 70px;
        height: 70px;
      }
    }
  }
  .accountImg {
    img {
      border-radius: 22px;
    }
  }
}
.testimonial {
  .featB {
    padding: 15px 40px !important;
  }
}
.pricing {
  padding: 200px 150px;
  .payment-meths {
    .accepted {
      background-color: #f8f8f8;
      border-radius: 20px;
      margin-top: 30px;
    }
  }
  .basic {
    padding: 50px 20px;
    border-radius: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 25px;
      border-bottom: 1px solid #f8f8f8;
      .button {
        width: fit-content !important;
        background-color: #fff !important;
        color: #000 !important;
      }
    }
    .act-price {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #f8f8f8;

      .button {
        width: fit-content !important;
        padding: 5px 20px !important;
        margin-top: 10px;
        background-color: #ffeecc !important;
        color: #c68a15 !important;
        font-weight: normal !important;
      }
    }
  }
}
