<div class="headerPar">
  <app-header></app-header>
</div>
<section class="banner">
  <div class="row">
    <div class="col-md-6">
      <div class="banner-text">
        <h2 class="textPrimary2">Build your audience and grow your brand</h2>
        <p class="defaultPar">
          Lorem ipsum dolor sit amet consectetur adipiscing elit interdum
          ullamcorper sed pharetra sene.
        </p>
      </div>
      <div class="row">
        <div class="banner-actions col-md-12 d-flex">
            <a routerLink="/" class="button small primary d-flex w-50 p-3 me-3">Get Started</a>
            <a routerLink="/" class="button small primary d-flex w-50 p-3">Watch Video </a>
          </div>
      </div>
    </div>
  </div>
</section>
