<div class="header-section">
  <app-header></app-header>
</div>
<section class="banner">
  <div class="row">
    <div class="col-md-6">
      <div class="banner-text">
        <h2 class="textPrimary2">Build your audience and grow your brand</h2>
        <p class="defaultPar">
          Lorem ipsum dolor sit amet consectetur adipiscing elit interdum
          ullamcorper sed pharetra sene.
        </p>
      </div>
      <div class="row">
        <div class="banner-actions col-md-12 d-flex">
          <a routerLink="/" class="button small primary d-flex w-50 me-3"
            >Get Started</a
          >
          <a
            routerLink="/"
            class="button small primary d-flex align-items-center w-50 px-4"
            >Watch Video
            <!-- <span class="ms-3">
              <img src="assets/images/video-icon.png" alt="video-icon" class="img-fluid w-75">
            </span> -->
            <span class="d-flex ms-auto">
              <svg-icons
                name="play-video"
                class="w-75"
                style="width: 100px"
              ></svg-icons>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rightSideImg">
        <img
          src="assets/images/dashboard-img.png"
          alt="image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="row">
    <div class="col md-12">
      <button class="button small textPrimary1 featB mx-auto">Features</button>
    </div>
    <div class="col-md-12">
      <h2 class="text-center featText">
        Powerful features to boost <br />
        your productivity
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="featCont p-3">
        <div class="featImg">
          <svg-icons name="feat1"></svg-icons>
        </div>
        <div class="featTitle mt-3">
          <h4 class="text-center">Secured Platform</h4>
        </div>
        <div class="featDesc mt-3">
          <p class="text-center defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>
        </div>
        <div class="featLink mt-5 d-flex justify-content-center">
          <a
            routerLink="/"
            class="learn text-center d-flex text-decoration-underline"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="featCont bgSecond2 rounded p-3">
        <div class="featImg">
          <svg-icons name="feat2"></svg-icons>
        </div>
        <div class="featTitle mt-3">
          <h4 class="text-center">Secured Platform</h4>
        </div>
        <div class="featDesc mt-3">
          <p class="text-center defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>
        </div>
        <div class="featLink mt-5 d-flex justify-content-center">
          <a
            routerLink="/"
            class="learn text-center d-flex text-decoration-underline"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="featCont p-3">
        <div class="featImg">
          <svg-icons name="feat3"></svg-icons>
        </div>
        <div class="featTitle mt-3">
          <h4 class="text-center">Secured Platform</h4>
        </div>
        <div class="featDesc mt-3">
          <p class="text-center defaultPar">
            Contrary to popular belief, Lore Ipsum is not simply random text. It
            has roots in a piece.
          </p>
        </div>
        <div class="featLink mt-5 d-flex justify-content-center">
          <a
            routerLink="/"
            class="learn text-center d-flex text-decoration-underline"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<div class="platform-desc">
  <div class="row">
    <div class="col-md-7">
      <div class="leftSide bgSecond2">
        <div class="text mb-4">
          <h3 class="mb-3">
            Powerful and easy to use <br />
            saas builder platform
          </h3>
          <p class="defaultPar">
            It is a long established fact that a reader will be by the from
            readable content of a page when looking at its layout. The point of
            using lorem Ipsum.
          </p>
        </div>
        <div class="row">
          <div class="col-md-2 d-flex align-items-center">
            <div class="icon d-flex align-items-center">
              <svg-icons name="coins"></svg-icons>
            </div>
          </div>
          <div class="col-md-10">
            <div class="desc">
              <h4 class="mb-3">Cost Effective</h4>
              <p class="defaultPar">
                Contrary to popular belief, Lore Ipsum is not simply random
                text.
              </p>
            </div>
          </div>
        </div>
        <div class="descImg">
          <img
            src="assets/images/dashboard-img.png"
            alt="descImg"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="rightSide bgPrimary1"></div>
    </div>
  </div>
</div>
<section class="how-it-works">
  <div class="row">
    <div class="col md-12">
      <button class="button small textPrimary1 featB mx-auto">
        How It Works
      </button>
    </div>
    <div class="col-md-12">
      <h2 class="text-center featText mt-3">
        Work smarter
        <br />
        with easy access for user..
      </h2>
    </div>
    <div class="steps mt-5">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
          <div class="step1 bgPrimary1">
            <h5 class="text-white mb-0">01. Create Account</h5>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="step2 bgSecond2">
            <h5 class="mb-0">02. Install tracking code</h5>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="step2 bgSecond2">
            <h5 class="mb-0">03. Track analytics</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="actionT">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2 d-flex align-items-center">
              <div class="icon d-flex align-items-center">
                <svg-icons name="contact"></svg-icons>
              </div>
            </div>
            <div class="col-md-10">
              <div class="desc">
                <h4 class="mb-3">
                  Create your account <br />
                  & start your work.
                </h4>
              </div>
            </div>
            <p class="defaultPar mt-3">
              It is a long established fact that a reader will be distracted by
              the readable content of a page from when looking at it layout. The
              point of using Lorem Ipsum
            </p>
            <div class="col-md-12">
              <a routerLink="/" class="button large bgPrimary2">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="accountImg">
            <img
              src="assets/images/account-img.png"
              alt="account-img"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonial">
  <div class="row">
    <div class="col md-12">
      <button class="button large textPrimary1 featB mx-auto mb-5">
        Testimonial
      </button>
    </div>
    <div class="col-md-12">
      <h2 class="text-center featText mt-3">Trusted by millions of creators</h2>
    </div>
  </div>
</section>
<!-- <owl-carousel-o [options]="customOptions">
  <div class="owl-carousel owl-theme" carouselSlide>
    <img src="assets/images/dashboard-img.png" alt="image" />
  </div>
  <div class="owl-carousel owl-theme" carouselSlide>
    <img src="assets/images/dashboard-img.png" alt="image" />
  </div>
  <div class="owl-carousel owl-theme" carouselSlide>
    <img src="assets/images/dashboard-img.png" alt="image" />
  </div>
  <ng-template carouselSlide id="2">
      <img src="assets/images/dashboard-img.png" alt="image">
    </ng-template>
    <ng-template carouselSlide id="3">
      <img src="assets/images/dashboard-img.png" alt="image">
    </ng-template>
    <ng-template carouselSlide id="4">
      <img src="assets/images/dashboard-img.png" alt="image">
    </ng-template>
</owl-carousel-o> -->
