<div class="header-section">
  <app-header></app-header>
</div>
<section class="banner">
  <div class="row">
    <div class="col-md-6">
      <div class="banner-text">
        <h2 class="textPrimary2">Build your audience and grow your brand</h2>
        <p class="defaultPar">
          Lorem ipsum dolor sit amet consectetur adipiscing elit interdum
          ullamcorper sed pharetra sene.
        </p>
      </div>
      <div class="row">
        <div class="banner-actions col-md-12 d-flex">
          <a routerLink="/" class="button small primary d-flex w-50 me-3"
            >Get Started</a
          >
          <a
            routerLink="/"
            class="button small primary d-flex align-items-center w-50 px-4"
            >Watch Video
            <!-- <span class="ms-3">
              <img src="assets/images/video-icon.png" alt="video-icon" class="img-fluid w-75">
            </span> -->
            <span class="d-flex ms-auto">
              <svg-icons
                name="play-video"
                class="w-75"
                style="width: 100px"
              ></svg-icons>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rightSideImg">
        <img
          src="assets/images/dashboard-img.png"
          alt="image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<!-- SHARED FEATURE  -->
<shared-feature></shared-feature>
<!-- SHARED FEATURE -->
<div class="platform-desc">
  <div class="row">
    <div class="col-md-7">
      <div class="leftSide bgSecond2">
        <div class="text mb-4">
          <h3 class="mb-3">
            Powerful and easy to use <br />
            saas builder platform
          </h3>
          <p class="defaultPar">
            It is a long established fact that a reader will be by the from
            readable content of a page when looking at its layout. The point of
            using lorem Ipsum.
          </p>
        </div>
        <div class="row">
          <div class="col-md-2 d-flex align-items-center">
            <div class="icon d-flex align-items-center">
              <svg-icons name="coins"></svg-icons>
            </div>
          </div>
          <div class="col-md-10">
            <div class="desc">
              <h4 class="mb-3">Cost Effective</h4>
              <p class="defaultPar">
                Contrary to popular belief, Lore Ipsum is not simply random
                text.
              </p>
            </div>
          </div>
        </div>
        <div class="descImg">
          <img
            src="assets/images/dashboard-img.png"
            alt="descImg"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="rightSide bgPrimary1"></div>
    </div>
  </div>
</div>
<section class="how-it-works">
  <div class="row">
    <div class="col md-12">
      <button class="button small textPrimary1 featB mx-auto">
        How It Works
      </button>
    </div>
    <div class="col-md-12">
      <h2 class="text-center featText mt-3">
        Work smarter
        <br />
        with easy access for user..
      </h2>
    </div>
    <div class="steps mt-5">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
          <div class="step1 bgPrimary1">
            <h5 class="text-white mb-0">01. Create Account</h5>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="step2 bgSecond2">
            <h5 class="mb-0">02. Install tracking code</h5>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="step2 bgSecond2">
            <h5 class="mb-0">03. Track analytics</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="actionT">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2 d-flex align-items-center">
              <div class="icon d-flex align-items-center">
                <svg-icons name="contact"></svg-icons>
              </div>
            </div>
            <div class="col-md-10">
              <div class="desc">
                <h4 class="mb-3">
                  Create your account <br />
                  & start your work.
                </h4>
              </div>
            </div>
            <p class="defaultPar mt-3">
              It is a long established fact that a reader will be distracted by
              the readable content of a page from when looking at it layout. The
              point of using Lorem Ipsum
            </p>
            <div class="col-md-12">
              <a routerLink="/" class="button large bgPrimary2">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="accountImg">
            <img
              src="assets/images/account-img.png"
              alt="account-img"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="testimonial">
  <div class="row">
    <div class="col md-12">
      <button class="button large textPrimary1 featB mx-auto mb-5">
        Testimonial
      </button>
    </div>
    <div class="col-md-12">
      <h2 class="text-center featText mt-3">Trusted by millions of creators</h2>
    </div>
  </div>
</section> -->
<section class="testimonial">
  <div class="row">
    <div class="col-md-12">
      <button class="button large textPrimary1 featB mx-auto mb-5">
        Testimonial
      </button>
    </div>
    <div class="col-md-12">
      <h2 class="text-center featText mt-3">Trusted by millions of creators</h2>
    </div>
  </div>
</section>
<section class="pricing">
  <div class="row">
    <div class="col-md-4">
      <div class="simple py-4">
        <div class="featB mb-5">
          <button class="button small bgSecond2">Pricing</button>
        </div>
        <div class="text">
          <h3 class="mb-5">Simple and flexible pricing</h3>
          <p class="defaultPar mb-5">
            It is a long established fact that a reader the will be distracted
            by the readable content of a page from when looking at it layout.
          </p>
        </div>
        <div class="payment-meths">
          <h4>Accepted Payment Methods</h4>
          <div
            class="accepted d-flex align-items-center justify-content-between p-2"
          >
            <div class="visa">
              <img
                src="assets/images/visa.png"
                alt="payment-meth"
                class="img-fluid w-75"
              />
            </div>
            <div class="mastercard">
              <img
                src="assets/images/mastercard.png"
                alt="payment-meth"
                class="img-fluid w-75"
              />
            </div>
            <div class="paypal">
              <img
                src="assets/images/paypal.png"
                alt="payment-meth"
                class="img-fluid w-75"
              />
            </div>
            <div class="amazon-card">
              <img
                src="assets/images/amazon.png"
                alt="payment-meth"
                class="img-fluid w-75"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="basic bgSecond2">
        <div class="header">
          <div class="text">
            <h4>Basic</h4>
          </div>
          <div class="prom">
            <div class="button small bgWhite">
              <span class="fw-light">Save 30%</span>
            </div>
          </div>
        </div>
        <div class="act-price">
          <div class="price d-flex align-items-center">
            <h4 class="mb-0">$7.99</h4>
            <strong class="textPrimary2">/month</strong>
          </div>
          <div class="button bg-warning">Billed as $96 per year</div>
        </div>
        <div class="feature py-5 text-center">
          <p class="defaultPar">Unlimited members</p>
          <p class="defaultPar"><strong>Unlimited</strong> feedback</p>
          <p class="defaultPar">Weely team Feedback Friday</p>
          <p class="defaultPar">
            Custom Kudos <strong>+9 illustration</strong>
          </p>
          <p class="defaultPar">Team feedback history</p>
        </div>
        <div
          class="col-md-12 start-button py-3 d-flex align-items-center justify-content-center"
        >
          <a routerLink="/" class="startBtn button outline-dark large"
            >Get Started</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="basic bgSecond2">
        <div class="header">
          <div class="text">
            <h4>Advanced</h4>
          </div>
          <div class="prom">
            <div class="button small bgWhite">
              <span class="fw-light">Popular</span>
            </div>
          </div>
        </div>
        <div class="act-price">
          <div class="price d-flex align-items-center">
            <h4 class="mb-0">$7.99</h4>
            <strong class="textPrimary2">/month</strong>
          </div>
          <div class="button bg-warning">Billed as $96 per year</div>
        </div>
        <div class="feature py-5 text-center">
          <p class="defaultPar">Unlimited members</p>
          <p class="defaultPar"><strong>Unlimited</strong> feedback</p>
          <p class="defaultPar">Weely team Feedback Friday</p>
          <p class="defaultPar">
            Custom Kudos <strong>+9 illustration</strong>
          </p>
          <p class="defaultPar">Team feedback history</p>
          <p class="defaultPar">Team feedback history</p>
          <p class="defaultPar">Team feedback history</p>
          <p class="defaultPar">Team feedback history</p>
        </div>
        <div
          class="col-md-12 start-button py-3 d-flex align-items-center justify-content-center"
        >
          <a routerLink="/" class="startBtn button outline-dark large"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="newsletterPar">
  <app-newsletter></app-newsletter>
</section>

<section class="blog">
  <div class="row">
    <div class="col-md-12">
      <button class="button large textPrimary1 featB mx-auto mb-5">Blog</button>
    </div>
    <div class="col-md-12">
      <h2 class="text-center featText mt-3">Most popular articles</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="leftside p-3">
        <div class="blogImg">
          <img
            src="assets/images/toptips1.png"
            alt="toptips"
            class="img-fluid"
          />
          <div class="categories">
            <div class="row">
              <div class="col-md-6">
                <div class="cat defaultPar fw-bold">Marketing</div>
              </div>
              <div class="col-md-6">
                <div class="cat defaultPar fw-bold">Analysis</div>
              </div>
            </div>
          </div>
        </div>
        <div class="date mt-3">
          <span class="textPrimary2 defaultPar">November 15, 2022</span>
        </div>
        <div class="title">
          <h4 class="mt-3">
            10 Top tips for making your <br />
            Saas product sticky
          </h4>
          <p class="defaultPar">
            It is a long established fact that a reader will be distracted by
            the readable content of a page from when looking at it layout. The
            point of using Lorem Ipsum
          </p>
          <a
            routerLink="/"
            class="text-decoration-underline text-primary fw-bold defaultPar"
            >Read more</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="leftside p-3">
        <div class="blogImg">
          <img
            src="assets/images/toptips2.png"
            alt="toptips"
            class="img-fluid"
          />
          <div class="categories">
            <div class="row">
              <div class="col-md-6">
                <div class="cat defaultPar fw-bold">Marketing</div>
              </div>
              <div class="col-md-6">
                <div class="cat defaultPar fw-bold">Analysis</div>
              </div>
            </div>
          </div>
        </div>
        <div class="date mt-3">
          <span class="textPrimary2 defaultPar">November 15, 2022</span>
        </div>
        <div class="title">
          <h4 class="mt-3">
            Automate Reports Generation <br />
            with Saasup
          </h4>
          <p class="defaultPar">
            It is a long established fact that a reader will be distracted by
            the readable content of a page from when looking at it layout. The
            point of using Lorem Ipsum
          </p>
          <a
            routerLink="/"
            class="text-decoration-underline text-primary fw-bold defaultPar"
            >Read more</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<div class="footer-section">
  <app-footer></app-footer>
</div>
