/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: NunitoExtraBold;
  src: url(assets/fonts/Nunito/static/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: NunitoBold;
  src: url(assets/fonts/Nunito/static/Nunito-Bold.ttf);
}

@font-face {
  font-family: NunitoRegular;
  src: url(assets/fonts/Nunito/static/Nunito-Regular.ttf);
}

// CSS VARIABLES

:root {
  --clr-primary: #5236ff;
  --clr-dark: #242331;

  --clr-white: #ffffff;
  --clr-secondary-200: #f9f9f9;
  --clr-secondary-300: #efecff;
  --clr-secondary-600: #797979;
}
// CSS RESET

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
  line-height: 1.25;
  color: var(--clr-dark);
  font-family: NunitoExtraBold;
}

h2 {
  font-size: 4rem;
  line-height: 1.25;
  color: var(--clr-dark);
  font-family: NunitoBold;
}

h3 {
  font-size: 3rem;
  line-height: 1.25;
  color: var(--clr-dark);
  font-family: NunitoBold;
}

h4 {
  font-size: 2.2rem;
  line-height: 1.25;
  font-family: NunitoBold;
  color: var(--clr-dark);
}

h5 {
  font-size: 2rem;
  line-height: 1.25;
  font-family: NunitoBold;
  color: var(--clr-dark);
}

h6 {
  font-size: 1.8rem;
  line-height: 1.25;
  font-family: NunitoBold;
  color: var(--clr-dark);
}

.largePar {
  font-size: 2.5rem;
  line-height: 1.57;
  font-family: NunitoRegular;
  color: var(--clr-secondary-600);
}

.defaultPar {
<<<<<<< HEAD
  font-size: 1.4rem;
=======
  font-size: 25px;
>>>>>>> 3d99094cbf45e173a8e6a4574cdb546cdfe110bf
  line-height: 1.57;
  font-family: NunitoRegular;
  color: var(--clr-secondary-600);
}
<<<<<<< HEAD
a {
  font-size: 1.4rem;
  line-height: 1.57;
  font-family: NunitoRegular;
  text-decoration: none;
}
=======

>>>>>>> 3d99094cbf45e173a8e6a4574cdb546cdfe110bf
ul {
  li {
    font-size: 2.2rem;
    line-height: 2.74;
    font-family: NunitoRegular;
    color: var(--clr-secondary-600);
  }
}

.blockquote {
  font-size: 2.5rem !important;
  line-height: 1.57;
  font-family: NunitoRegular;
  color: var(--clr-dark);
}

.textWhite {
  color: var(--clr-white) !important;
}
.textPrimary1 {
  color: var(--clr-primary);
}

.textPrimary2 {
  color: var(--clr-dark);
}

.textSecond1 {
  color: var(--clr-primary);
}

.textSecond2 {
  color: var(--clr-secondary-300);
}

.bgPrimary1 {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.bgPrimary2 {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.bgSecond1 {
  background-color: var(--clr-primary);
  color: var(--clr-primary);
}

.bgSecond2 {
  background-color: var(--clr-secondary-300);
  color: var(--clr-primary);
}

.bgSecond3 {
  background-color: var(--clr-dark);
  color: var(--clr-primary);
}

.bgSecond4 {
  background-color: var(--clr-secondary-600);
  color: var(--clr-primary);
}

.bgWhite {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.button {
  color: var(--clr-white);
  border-radius: 3.9rem;
  gap: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  font-family: NunitoRegular;
  justify-content: center;

  &.small {
    width: 8rem;
  }

  &.large {
    width: 22.6rem;
  }

  &.cart {
    width: 44.1rem;
  }

  &.primary {
    background-color: var(--clr-primary);
  }

  &.secondary {
    background-color: var(--clr-dark);
  }
}
a {
  display: flex;
  &.dropdown {
    position: relative;
    & > .dropdownEl {
      position: absolute;
      z-index: 999;
      width: 10rem;
      left: 50%;
      top: 90%;
      list-style: none;
      border-radius: 0.5rem;
      padding: 1rem 0;
      li {
        a {
          color: var(--clr-white);
          display: flex;
          &:hover {
            background-color: var(--clr-white);
            color: #000;
          }
        }
      }
    }
  }
}
