/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: NunitoExtraBold;
  src: url(assets/fonts/Nunito/static/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: NunitoBold;
  src: url(assets/fonts/Nunito/static/Nunito-Bold.ttf);
}

@font-face {
  font-family: NunitoRegular;
  src: url(assets/fonts/Nunito/static/Nunito-Regular.ttf);
}

// CSS VARIABLES

:root {
  --clr-primary: #5236ff;
  --clr-dark: #242331;

  --clr-white: #ffffff;
  --clr-secondary-200: #f9f9f9;
  --clr-secondary-300: #efecff;
  --clr-secondary-600: #797979;
}
// CSS RESET

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

h1 {
  font-size: 5rem;
  line-height: 1.25;
  color: var(--clr-dark);
  font-family: NunitoExtraBold;
}

h2 {
  font-size: 4rem;
  line-height: 1.25;
  color: var(--clr-dark);
  font-family: NunitoBold;
}

h3 {
  font-size: 3rem;
  line-height: 1.25;
  color: var(--clr-dark);
  font-family: NunitoBold;
}

h4 {
  font-size: 2.2rem;
  line-height: 1.25;
  font-family: NunitoBold;
  color: var(--clr-dark);
}

h5 {
  font-size: 2rem;
  line-height: 1.25;
  font-family: NunitoBold;
  color: var(--clr-dark);
}

h6 {
  font-size: 1.8rem;
  line-height: 1.25;
  font-family: NunitoBold;
  color: var(--clr-dark);
}

.largePar {
  font-size: 2.5rem;
  line-height: 1.57;
  font-family: NunitoRegular;
  color: var(--clr-secondary-600);
}

.defaultPar {
  font-size: 2.25;
  line-height: 1.57;
  font-family: NunitoRegular;
  color: var(--clr-secondary-600);
}
ul {
  li {
    font-size: 2.2rem;
    line-height: 2.74;
    font-family: NunitoRegular;
    color: var(--clr-secondary-600);
  }
}

.blockquote {
  font-size: 2.5rem !important;
  line-height: 1.57;
  font-family: NunitoRegular;
  color: var(--clr-dark);
}

.textWhite {
  color: var(--clr-white) !important;
}
.textPrimary1 {
  color: var(--clr-primary) !important;
}

.textPrimary2 {
  color: var(--clr-dark) !important;
}

.textSecond1 {
  color: var(--clr-primary) !important;
}

.textSecond2 {
  color: var(--clr-secondary-300) !important;
}

.bgPrimary1 {
  background-color: var(--clr-primary) !important;
  color: var(--clr-white) !important;
}

.bgPrimary2 {
  background-color: var(--clr-dark) !important;
  color: var(--clr-white) !important;
}

.bgSecond1 {
  background-color: var(--clr-primary) !important;
  color: var(--clr-primary) !important;
}

.bgSecond2 {
  background-color: var(--clr-secondary-300) !important;
  color: var(--clr-primary) !important;
}

.bgSecond3 {
  background-color: var(--clr-dark) !important;
  color: var(--clr-primary) !important;
}

.bgSecond4 {
  background-color: var(--clr-secondary-600) !important;
  color: var(--clr-primary) !important;
}

.bgWhite {
  background-color: hsla(0, 0%, 100%, 0.1) !important;
}

.button {
  color: var(--clr-white);
  border-radius: 3.9rem;
  gap: 1rem;
  padding: 1rem 1rem !important;
  display: flex;
  align-items: center;
  font-family: NunitoRegular;
  justify-content: center;
  font-weight: bold;
  border: none;

  &.small {
    width: 8rem;
  }

  &.large {
    width: 22.6rem;
  }

  &.cart {
    width: 44.1rem;
  }

  &.primary {
    background-color: var(--clr-primary);
  }

  &.secondary {
    background-color: var(--clr-dark);
  }
}
a {
  display: flex;
  text-decoration: none;
  font-family: NunitoRegular;

  font-size: 1.5rem;
  &.dropdown {
    position: relative;
    & > .dropdownEl {
      position: absolute;
      z-index: 999;
      width: 10rem;
      left: 50%;
      top: 90%;
      list-style: none;
      border-radius: 0.5rem;
      padding: 1rem 0;
      li {
        a {
          color: var(--clr-white);
          display: flex;
          &:hover {
            background-color: var(--clr-white);
            color: #000;
          }
        }
      }
    }
  }
}
