<footer>
  <div class="footer-wrapper">
    <div class="footer">
      <div class="contact">
        <div class="logo d-flex align-items-start">
          <img src="assets/images/logo.png" alt="" />
          <h2>SaaSup</h2>
        </div>
        <p class="text">
          It is a long established fact that from will be distracted by the
          readable from when looking
        </p>

        <div class="email d-flex align-items-start gap-4">
          <i
            class="icon fa fa-envelope fa-small d-block mt-2"
            aria-hidden="true"
          ></i>
          <div>
            <span class="d-block">sassup@gmail.com</span>
            <span class="d-block">mail@saasup@gmail.com</span>
          </div>
        </div>

        <div class="phone d-flex align-items-start gap-4">
          <i class="icon fa fa-phone fa-small d-block mt-2" aria-hidden="true">
          </i>

          <div>
            <span class="d-block">+968 6541 3654</span>
            <span class="d-block">+001 6547 6589</span>
          </div>
        </div>
      </div>

      <div class="pages">
        <div class="pages-links">
          <h4>Pages</h4>

          <ul class="ps-0 links">
            <li>
              <a routerLink="/">Home </a>
            </li>
            <li>
              <a routerLink="/about">About Us </a>
            </li>
            <li>
              <a routerLink="/"> Integrations </a>
            </li>
            <li>
              <a routerLink="/"> Pricing </a>
            </li>

            <li>
              <a routerLink="/"> Features </a>
            </li>

            <li><a routerLink="/"> Contact Us</a></li>
          </ul>
        </div>

        <div class="pages-links">
          <h4>Utility Pages</h4>

          <ul class="ps-0 links">
            <li><a routerLink="/"> Password </a></li>
            <li><a routerLink="/"> Protected </a></li>
            <li><a routerLink="/"> 404 Not Found </a></li>
            <li><a routerLink="/"> Style Guide </a></li>
            <li><a routerLink="/"> Licenses </a></li>
            <li><a routerLink="/"> Changelog </a></li>
          </ul>
        </div>
      </div>

      <div class="app-store">
        <div class="app-store__header">
          <a routerLink="">Download</a>
          <h4>Its suitable to all decvices and screens</h4>
          <p>
            It is a long established fact that a reader will be distracted
            layout.
          </p>
        </div>

        <div class="button-wrapper">
          <button class="button bgPrimary2">App Store</button>
          <button class="button bgPrimary2">Play Store</button>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p class="defaultPar">
        Copyright © Saasup | Designed by Victorflow - Powered by Webflow
      </p>
      <div class="icons">
        <i class="fa fa-facebook fa-small"></i>
        <i class="fa fa-twitter fa-small"></i>
        <i class="fa fa-linkedin fa-small"></i>
        <i class="fa fa-instagram fa-small"></i>
      </div>
    </div>
  </div>
</footer>

